<!DOCTYPE html>
<html>
<head>
{% include('nav.twig') %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Google Font: Source Sans Pro -->
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
</head>
<body>
   {% include('sidebar.twig') %}
         {% include('css_userinfo.twig') %}

   <!-- Google Font: Source Sans Pro -->
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"><br/>
            <h1>Air Quality Index</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">AQI</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
      <div class="row">
          <div class="col-12">
            <!-- jQuery Knob -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Your Air Quality Index
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                      class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="height: 200px;align-items: center;align-content: center;align-self: center;">

  

<!--                     <div class="knob-label">data-width="90"</div>
 -->
                    <input type="text" class="knob" id="pm2_5_aqi" value="90" data-width="150" data-max = "500" data-height="150" data-fgColor="#00a65a" data-readonly="true" >pm2.5

<!--                     <div class="knob-label">New Visitors</div>
 -->
                    <input type="text" class="knob" id="pm10_aqi" value="70" data-max = "500" data-width="150" data-height="150" data-fgColor="#f56954" data-readonly="true">pm10

<!--                     <div class="knob-label">Bounce Rate</div>
 -->
                    <input type="text" class="knob" id="no2_aqi" value="80"data-width="150" data-max = "500"
                           data-height="150" data-fgColor="#00a65a" data-readonly="true">NO2

<!--                     <div class="knob-label">Server Load</div>
 -->
                    <input type="text" class="knob" id="co_aqi" value="40" data-width="150" data-height="150" data-max = "500" data-fgColor="#00a65a" data-readonly="true" >CO

<!--                     <div class="knob-label">Disk Space</div>
 -->

                    <input type="text" class="knob" id="so2_aqi" value="90" data-width="150" data-height="150" data-max = "500" data-fgColor="#00a65a" data-readonly="true" >SO2

<!--                     <div class="knob-label">Bandwidth</div>
 -->                    
                    <input type="text" class="knob" id="o3_aqi" value="50" data-width="150" data-height="150" data-max = "500" data-fgColor="#00a65a" data-readonly="true" >O3

<!--                     <div class="knob-label">CPU</div>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row" style="width: 100%;height: 100%;" >
            <div class="col-md-6" style="float: right; width: 50%">
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div>
                    <div style="width: 100%;height: 900px; padding-left: 50px;float: left;">
                      <div id="aqis" style="margin-bottom: 2%">
                        <button type="button" class="btn btn-default" id="pm2_5" onclick="display_aqi(this.id)" style="width: 15%;margin-left: 4%;background-color: #3e95cd">pm2.5</button>
                        <button type="button" class="btn btn-default" id="pm10" onclick="display_aqi(this.id)" style="width: 15%;background-color: #8e5ea2">pm10</button>
                        <button type="button" class="btn btn-default" id="no2" onclick="display_aqi(this.id)" style="width: 15%;background-color: #3cba9f">NO2</button>
                        <button type="button" class="btn btn-default" id="co" onclick="display_aqi(this.id)" style="width: 15%;background-color: #e8c3b9">CO</button>
                        <button type="button" class="btn btn-default" id="so2" onclick="display_aqi(this.id)" style="width: 15%;background-color: #c45850">SO2</button>
                        <button type="button" class="btn btn-default" id="o3" onclick="display_aqi(this.id)" style="width: 15%;background-color: gray">O3</button>
                      </div>

                      <div id="map" style="height: 90%">
                        
                      </div>
                                      <!--map-->
                    </div>
                  </div>
                </div>
              </div>                            
            </div>
            <div class="col-md-6" style="float: right; width: 50%;height: 100%;">
              <div class="card card-primary card-outline">
                <div class="card-body box-profile" style="height: 100%">
                  <div>

                    <!-- /.card-body -->
                    <div class="form-group" style="margin-left: 5%;">
                      <div class="form-group">
                        <label>Date and time range:</label>

                        <div class="input-group" id="test" value="">

                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>

                            <input id="start_time" type="datetime-local" name="start_time" class="form-control float-right" style="text-align: center;">
                            <label for="party"  style="text-align: center;">~~</label>
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                            <input id="end_time" type="datetime-local" name="end_time" class="form-control float-right" style="text-align: center;"> 


                            <input type="button" class="btn btn-default" id="date" value="Search" name="" onclick="search()" style="width: 20%;float: left;"></button>
                        </div>
                        <!-- /.input group -->

                      </div>
                      <!-- /.form group -->
                      <div class="card-body" style="">
                        <canvas class="chart" id="line-chart" style=""></canvas>
                      </div>
                    </div>



                    <div id="dvTable" class="container" style="width: 100%;">
                               
                        <table class="table table-striped" id="sensors">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Type</th>
                              <th>MacAddress</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>nun</td>
                              <td>Polar</td>
                              <td>2f3lasbsl2f32f3la56lai2</td>
                            </tr>
                            <tr>
                              <td>Mungmung</td>
                              <td>Polar</td>
                              <td>2f3las2b2as32f3lasbsl2f3</td>
                            </tr>
                            <tr>
                              <td>polarpo</td>
                              <td>Udoo</td>
                              <td>2f4la5b6l2f32f3la56lai2</td>
                            </tr>
                            <tr>
                              <td>abc</td>
                              <td>Polar</td>
                              <td>2f3la56lai22f3lasbsl2f3</td>
                            </tr>
                            <tr>
                              <td>popin</td>
                              <td>Udoo</td>
                              <td>2f3las12g3a2f3la56lai2</td>
                            </tr>
                            <tr>
                              <td>mowmow</td>
                              <td>Polar</td>
                              <td>2f3lasbsl2f32f3la56lai2</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>

                                      <!--map-->
                  </div>
                </div>
              </div>                            
            </div>
        </div><!--rowend-->



        </div>
      <!-- </div> -->




    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>

    <script>
      function calculate_aqi(aqi){
        if(aqi<=50){
          return "green";
        }
        else if(aqi<=100){
          return "gold";
        }
        else if(aqi<=150){
          return "orange";
        }
        else if(aqi<=200){
          return "red";
        }
        else if(aqi<=300){
          return "DarkOrchid";
        }
        else if(aqi<=500){
          return "darkred"
        }
      }
      function display_aqi(clicked_id){
          for(var item in citymap){
            if(clicked_id=="co"){
              var color = calculate_aqi(citymap[item].co_aqi);
              cityCircle[item].setOptions({fillColor: color, strokeColor: color})
            }
            else if(clicked_id=="no2"){
              var color = calculate_aqi(citymap[item].no2_aqi);
              cityCircle[item].setOptions({fillColor: color, strokeColor: color})
            }
            else if(clicked_id=="so2"){
              var color = calculate_aqi(citymap[item].so2_aqi);
              cityCircle[item].setOptions({fillColor: color, strokeColor: color})
            }
            else if(clicked_id=="o3"){
              var color = calculate_aqi(citymap[item].o3_aqi);
              cityCircle[item].setOptions({fillColor: color, strokeColor: color})
            }
            else if(clicked_id=="pm2_5"){
              var color = calculate_aqi(citymap[item].pm2_5_aqi);
              cityCircle[item].setOptions({fillColor: color, strokeColor: color})
            }
            else if(clicked_id=="pm10"){
              var color = calculate_aqi(citymap[item].pm10_aqi);
              cityCircle[item].setOptions({fillColor: color, strokeColor: color})
            }
          }

      }

      var locations = [];
      var citymap = {};
      var cityCircle = {};

      function initMap() {
        first();

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: -28.024, lng: 140.887}
        });

        
        map.addListener('center_changed', function() {
          window.setTimeout(function() {
          //map.panTo(markers[i].position);
          }, 3000);
        });
        var ne_lat = 30;
        var ne_lng = -200;
        var sw_lat = -67;
        var sw_lng = 84;
          
        map.addListener('bounds_changed', function() {  
        // 3 seconds after the center of the map has changed, pan back to the
          var bounds =  map.getBounds();
          var ne = bounds.getNorthEast();
          var sw = bounds.getSouthWest();
          ne_lat = ne.lat();
          ne_lng = ne.lng();
          sw_lat = sw.lat();
          sw_lng = sw.lng();

          window.setTimeout(function() {  
                
          }, 4000);  
        });

        var all_sensors;
        $.ajax({
            type:"GET",
            url:"/locations/{ne_lat}/{ne_lng}/{sw_lat}/{sw_lng}",
            data : {"ne_lat": ne_lat, "ne_lng":ne_lng,"sw_lat":sw_lat,"sw_lng":sw_lng},
            async: false,
            success: function(data) {
                console.log("SUCCESS: ", data);
                all_sensors = data;
                for(var i=0; i<all_sensors.length;i++){
                  locations.push({'lat':parseFloat(all_sensors[i].latitude), 'lng':parseFloat(all_sensors[i].longitude)});
                  
                  var object = new Object();
                  object.center = {'lat':parseFloat(all_sensors[i].latitude), 'lng':parseFloat(all_sensors[i].longitude)}

                  object.population = 1000000;
                  object.id = all_sensors[i].dsn;
                  object.co_aqi = all_sensors[i].co_aqi;
                  object.no2_aqi = all_sensors[i].no2_aqi;
                  object.so2_aqi = all_sensors[i].so2_aqi;
                  object.o3_aqi = all_sensors[i].o3_aqi;
                  object.pm2_5_aqi = all_sensors[i].pm2_5_aqi;
                  object.pm10_aqi = all_sensors[i].pm10_aqi;
                  var dsn = new Object();
                  dsn[i] = object;
                  citymap[i] = object;
                  console.log("~~citymap");
                  console.log(citymap);
                  console.log("citymap2~");

                  var citymap2 = dsn;
                  console.log(citymap2);
                  for (var city in citymap2) {
                      cityCircle[i] = new google.maps.Circle({
                      strokeColor: '#FF0000',
                      strokeOpacity: 0.8,
                      strokeWeight: 2,
                      fillColor: '#FF0000',
                      fillOpacity: 0.35,
                      map: map,
                      center: citymap2[city].center,
                      radius: Math.sqrt(citymap2[city].population) * 100
                    });
                  }
                  console.log("!!!!!!");
                  console.log(citymap2);
                }



            },
            error: function(data) {
                console.log('ERROR: ', data);
            },
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function(location, i) {
              return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length],
                id : all_sensors[i].dsn
              });
            });
            
        for(var i=0;i<locations.length;i++){


            markers[i].addListener('click', function() {
                map.setZoom(8);
                // map.setCenter(markers[i].position);
                var udoo_id = this.id;
                $.ajax({
                    type:"GET",
                    url:"/location_aqi/{udoo_id}",
                    data: { "udoo_id":udoo_id },
                    success: function(data) {
                        console.log("SUCCESS: ", data);
                        document.getElementById('test').value = data[0].dsn;
                       
                        for(var i = 0;i<data.length;i++){
                          mychart.data.datasets[0].data[i] = data[i].pm2_5_aqi;
                        }
                        for(var i = 0;i<data.length;i++){
                          mychart.data.datasets[1].data[i] = data[i].pm10_aqi;
                        }
                        for(var i = 0;i<data.length;i++){
                          mychart.data.datasets[2].data[i] = data[i].no2_aqi;
                        }
                        for(var i = 0;i<data.length;i++){
                          mychart.data.datasets[3].data[i] = data[i].co_aqi;
                        }
                        for(var i = 0;i<data.length;i++){
                          mychart.data.datasets[4].data[i] = data[i].so2_aqi;
                        }
                        for(var i = 0;i<data.length;i++){
                          mychart.data.datasets[5].data[i] = data[i].o3_aqi;
                        }
                        
                        mychart.update();

                        console.log("~!");
                        console.log(data[0]);
                        var color = calculate_aqi(data[0].pm10_aqi);
                        document.getElementById('pm10_aqi').value = data[0].pm10_aqi;

                        $('#pm10_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#pm10_aqi')
                          .val(data[0].pm10_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].pm2_5_aqi);
                        document.getElementById('pm2_5_aqi').value = data[0].pm2_5_aqi;

                        $('#pm2_5_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#pm2_5_aqi')
                          .val(data[0].pm2_5_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].co_aqi);
                        document.getElementById('co_aqi').value = data[0].co_aqi;

                        $('#co_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#co_aqi')
                          .val(data[0].co_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].no2_aqi);
                        document.getElementById('no2_aqi').value = data[0].no2_aqi;

                        $('#no2_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#no2_aqi')
                          .val(data[0].no2_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].so2_aqi);
                        document.getElementById('so2_aqi').value = data[0].so2_aqi;
                        
                        $('#so2_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#so2_aqi')
                          .val(data[0].so2_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].o3_aqi);
                        document.getElementById('o3_aqi').value = data[0].o3_aqi;

                        $('#o3_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#o3_aqi')
                          .val(data[0].o3_aqi)
                          .trigger('change');

                    },
                    error: function(data) {
                        console.log('ERROR: ', data);
                    },

                });
                $.ajax({
                    type:"GET",
                    url:"/device_data/{udoo_id}",
                    data: { "udoo_id":udoo_id },
                    success: function(data) {
                        console.log("SUCCESS: ", data);

                        //alert($('#date').name); 


                        $('#sensors').empty();
                        var sensors = data;
                        var sensor = new Array();
                        sensor.push(["Name", "Type", "Mac_address"]);

                        for(var i=0;i<sensors.length;i++){
                          sensor.push([data[i].s_name, data[i].s_type, data[i].mac_addr]);
                        }
                        //Create a HTML Table element.
                        var table = document.getElementById("sensors");
                        //Get the count of columns.
                        var columnCount = sensor[0].length;
                 
                        //Add the header row.
                        var row = table.insertRow(-1);
                        for (var i = 0; i < columnCount; i++) {
                            var headerCell = document.createElement("TH");
                            headerCell.innerHTML = sensor[0][i];
                            row.appendChild(headerCell);
                        }
                 
                        //Add the data rows.
                        for (var i = 1; i < sensor.length; i++) {
                            row = table.insertRow(-1);
                            for (var j = 0; j < columnCount; j++) {
                                var cell = row.insertCell(-1);
                                cell.innerHTML = sensor[i][j];
                            }
                        }
                 
                        var dvTable = document.getElementById("dvTable");
                        dvTable.innerHTML = "";
                        dvTable.appendChild(table);
                    
                    },
                    error: function(data) {
                        console.log('ERROR: ', data);
                    },

                });
            });
        
        }



        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      }

      

    </script>
    <!-- Replace following script src -->
    <script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js">

    </script>
    </script>


    <!-- Main content -->
    
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
    $('#datepicker').datepicker('setDate', 'today');
  } );

  function search(){
    var start_time = $('#start_time').val();
    var end_time = $('#end_time').val();
    var dsn = document.getElementById('test').value;

    start_time = start_time.substring(0,10)+" "+start_time.substring(11,16)+":00";
    end_time = end_time.substring(0,10)+" "+end_time.substring(11,16)+":00";
    $.ajax({ 
          type:"GET",
          url:"/historic_aqi/{start_time}/{end_time}/{dsn}",
          data: {"start_time":start_time,"end_time":end_time, "dsn":dsn },
            success: function(data){
              console.log("SUCCESS: ", data);
              for(var i=0;i<data.length;i++){
                mychart.data.labels.pop();
              }
              for(var i=0;i<data.length;i++){
                mychart.data.labels.push(parseInt(data[i].timediff/60));
              }
              for(var i = 0;i<data.length;i++){
                mychart.data.datasets[0].data[i] = data[i].pm2_5_aqi;
              }

              for(var i = 0;i<data.length;i++){
                mychart.data.datasets[1].data[i] = data[i].pm10_aqi;
              }
              for(var i = 0;i<data.length;i++){
                mychart.data.datasets[2].data[i] = data[i].no2_aqi;
              }
              for(var i = 0;i<data.length;i++){
                mychart.data.datasets[3].data[i] = data[i].co_aqi;
              }
              for(var i = 0;i<data.length;i++){
                mychart.data.datasets[4].data[i] = data[i].so2_aqi;
              }
              for(var i = 0;i<data.length;i++){
                mychart.data.datasets[5].data[i] = data[i].o3_aqi;
              }
                        
              mychart.update();



              // line_graph();
            },
            error: function(data){
             console.log('ERROR: ', data);
            },   
    });

  }
  </script>
<!-- DONUT CHART -->

              <script type="text/javascript">
                var aqi_data; 

                function first(){
                  $.ajax({
                    type:"GET",
                    url:"/get_aqi",
                    async: false,
                    success: function(data) {
                        console.log("~~");
                        console.log("SUCCESS: ", data);
                        aqi_data = data;
                        chart_view();

                        var color = calculate_aqi(data[0].pm10_aqi);
                        document.getElementById('pm10_aqi').value = data[0].pm10_aqi;
                        $('#pm10_aqi').knob({
                            fgColor: color
                        }); 
                        $('#pm10_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#pm10_aqi')
                          .val(data[0].pm10_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].pm2_5_aqi);
                        document.getElementById('pm2_5_aqi').value = data[0].pm2_5_aqi;
                        $('#pm2_5_aqi').knob({
                            fgColor: color
                        }); 
                        $('#pm2_5_aqi')
                          .val(data[0].pm2_5_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].co_aqi);
                        document.getElementById('co_aqi').value = data[0].co_aqi;

                        $('#co_aqi').knob({
                            fgColor: color
                        }); 
                        $('#co_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#co_aqi')
                          .val(data[0].co_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].no2_aqi);
                        document.getElementById('no2_aqi').value = data[0].no2_aqi;

                        $('#no2_aqi').knob({
                            fgColor: color
                        }); 
                        $('#no2_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#no2_aqi')
                          .val(data[0].no2_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].so2_aqi);
                        document.getElementById('so2_aqi').value = data[0].so2_aqi;

                        $('#so2_aqi').knob({
                            fgColor: color
                        }); 
                        $('#so2_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#so2_aqi')
                          .val(data[0].so2_aqi)
                          .trigger('change');

                        color = calculate_aqi(data[0].o3_aqi);
                        document.getElementById('o3_aqi').value = data[0].o3_aqi;

                        $('#o3_aqi').knob({
                            fgColor: color
                        }); 
                        $('#o3_aqi').trigger(
                         'configure',
                          {
                            "fgColor":color,
                            "inputColor":color
                          }
                        );
                        $('#o3_aqi')
                          .val(data[0].o3_aqi)
                          .trigger('change');

                        // for (i in aqi_data[0]) {
                        //   if(i!="longitude"&&i!="latitude"&&i!="udoo_sn"){
                        //     alert(i);
                        //     alert(document.getElementById(i).value);
                        //     document.getElementById(i).value = aqi_data[0][i];
                        //     alert(document.getElementById(i).value);
                        //     if(i=="pm2_5_aqi"){
                        //       var color = calculate_aqi(aqi_data[0].pm2_5_aqi);
                        //       $('#pm2_5_aqi').knob({
                        //         fgColor: color
                        //       });  
                        //     }
                        //     else if(i=="pm10_aqi"){
                        //       var color = calculate_aqi(aqi_data[0].pm10_aqi);
                        //       $('#pm10_aqi').knob({
                        //         fgColor: color
                        //       });  
                        //     }
                        //     else if(i=="co_aqi"){
                        //       alert("tlqkf");
                        //       var color = calculate_aqi(aqi_data[0].co_aqi);
                        //       alert(color);
                        //       $('#co_aqi').trigger(
                        //        'configure',
                        //         {
                        //           "fgColor":color,
                        //           "inputColor":color
                        //         }
                        //       ); 
                        //     }
                        //     else if(i=="no2_aqi"){
                        //       var color = calculate_aqi(aqi_data[0].no2_aqi);
                        //       $('#no2_aqi').knob({
                        //         fgColor: color
                        //       });  
                        //     }
                        //     else if(i=="so2_aqi"){
                        //       var color = calculate_aqi(aqi_data[0].so2_aqi);
                        //       $('#so2_aqi').knob({
                        //         fgColor: color
                        //       });  
                        //     }
                        //     else if(i=="o3_aqi"){
                        //       var color = calculate_aqi(aqi_data[0].o3_aqi);
                        //       $('#o3_aqi').knob({
                        //         fgColor: color
                        //       });  
                        //     }
                        //   }
                        // }
                    },
                    error: function(data) {
                        console.log('ERROR: ', data);
                    },
                  });
                }
                  first();
                  var mychart;
                  function chart_view(){
                    mychart = new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                      labels: [2,4,6,8,10,12,14,16,18,20,22,24],
                      datasets: [{ 
                          data: [78,44,49,36,37,31,43,31,33,38,35,33],
                          label: "pm2.5",
                          borderColor: "#3e95cd",
                          fill: false
                        }, { 
                          data: [62,45,51,52,55,59,57,66,70,68,72,70],
                          label: "pm10",
                          borderColor: "#8e5ea2",
                          fill: false
                        }, { 
                          data: [86,74,69,56,47,41,43,41,53,48,45,40],
                          label: "NO2",
                          borderColor: "#3cba9f",
                          fill: false
                        }, { 
                          data: [50,50,60,66,64,68,74,77,81,85,88,90],
                          label: "CO",
                          borderColor: "#e8c3b9",
                          fill: false
                        }, { 
                          data: [56,53,52,52,47,46,42,42,52,57,56,50],
                          label: "SO2",
                          borderColor: "#c45850",
                          fill: false
                        }, { 
                          data: [56,53,52,52,37,36,12,12,22,27,26,25],
                          label: "O3",
                          borderColor: "gray",
                          fill: false
                        }
                      ]
                    },
                    options: {
                        scales: {
                        xAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: 'Time(hours)'
                          }
                        }],
                        yAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: 'concentration'
                          }
                        }]
                      }  
                    }
                  });
                }



            </script>




  <!-- /.content-wrapper -->
<!--   <footer class="main-footer">
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.3-pre
    </div>
  </footer> -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA52Ka6h4PSlrzq594lkybvqL6FOQ9Bx_c&callback=initMap">
    </script>
 
<script src="{{ base_url() }}/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->

<script src="{{ base_url() }}/plugins/sparklines/sparkline.js"></script>
<!-- page script -->

<!-- jQuery -->
<script src="{{ base_url() }}/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ base_url() }}/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{ base_url() }}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="{{ base_url() }}/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="{{ base_url() }}/plugins/sparklines/sparkline.js"></script>


<!-- JQVMap -->
<!-- jQuery Knob Chart -->
<script src="{{ base_url() }}/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="{{ base_url() }}/plugins/moment/moment.min.js"></script>
<script src="{{ base_url() }}/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ base_url() }}/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.jplugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="{{ base_url() }}/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ base_url() }}/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ base_url() }}/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ base_url() }}/dist/js/demo.js"></script>



<script src="{{ base_url() }}/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->

</body>
</html>





