<!DOCTYPE html>
<html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
$(function() {
  $( "#datepicker" ).datepicker({
    dateFormat: 'yy-mm-dd'
  });
  $('#datepicker').datepicker('setDate', 'today');
});
</script>  
<head>
{% include('nav.twig') %}
</head>
<body>
  {% include('sidebar.twig') %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"> <br/>
            <h1>Your Heart Rate</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Heartrate</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">    
        <div class="row">
          <div class="col-md-4">
            <div class="card card-primary card-outline">
              <div class="card-body box-profile" style="height: 450px">
                <div class="text-center">
                  <img 
                       src="{{base_url}}/img/heart.jpg" style="width: 30%;height: 40%;"
                       alt="User profile picture">
                </div>
                <h3 class="profile-username text-center">Heart Rate</h3>
                <p class="text-muted text-center">{{username}}</p>
                <br/>
                <ul class='list-group list-group-unbordered mb-3' >
                  <li class="list-group-item">
                    <b>Average</b> <a class="float-right"><input type="text" id="avg" style="border: none; text-align: right; outline: none;" readonly /></a>
                  </li>
                  <li class="list-group-item">
                    <b>Highest</b> <a class="float-right"><input type="text" id="max" style="border: none; text-align: right; outline: none;" readonly/></a>
                  </li>
                  <li class="list-group-item">
                    <b>Lowest</b> <a class="float-right"><input type="text" id="min" style="border: none; text-align: right; outline: none;" readonly/></a>
                  </li>
                </ul>
                <br/>
                <a onclick="heartrateinfo()" class="btn btn-primary btn-block" style="position: relative; bottom: 5%;"><b style="color: #ffffff;">Refresh Data</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-8">
            <!-- Line chart -->
            <div class="card card-primary card-outline" >
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Histroical Heart-Rate
               </h3>
               <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body" style="height: 390px;">  
                      <div style="display:inline; position: relative; left: 3%; top:-10px">
                      <label for="party"  style="text-align: center;">Start Time </label> 
                      <input id="start_time" type="datetime-local" name="start_time" style="text-align: center; width: 30%;"> &emsp;
                      <label for="party"  style="text-align: center;">End Time </label>
                      <input id="end_time" type="datetime-local" name="end_time" style="text-align: center; width: 30%;"> &emsp;
                      <input type="button" class="profile-edit-btn" id="date_submit" value="SUBMIT" onclick="historic()"/>
                      </div>
              <!-- historic line chart -->
               <div id="line-chart" style="position:relative; width:90%; height: 85%; left: 5%;"></div>
               <style>
                .transform{
                  width: 150px; height:30px;
                  /*border: 1px solid;*/
                  position: relative;
                  left: -60px;
                  top: -170px;
                  text-align: center; 
                  -webkit-transform: rotate(270deg);
                  -ms-transform: rotate(270deg);
                }
              </style>
              <p class="transform">Heart Rate (bpm)</p>
              <div style="position: relative; top: -50px; left: 50%;">Time (hours)</div>
 <!--           <div id="line_top_x" style="height: 300px;"></div> -->
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->

            <!--  -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
          <div class="row">
          <div class="col-12">
            <!-- interactive chart -->
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Real Time Heart-Rate
                </h3>

                <div class="card-tools">
                  Real time
                  <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                    <button type="button" class="btn btn-default btn-sm active" data-toggle="on">On</button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="off">Off</button>
                  </div>
                </div>
              </div>
              <div class="card-body"  style="height: 380px;"  >
                <div id="interactive" style="position: relative; width: 90%; height: 95%; left: 50px;"></div>
                 <p class="transform">Heart Rate (bpm)</p>
                <div style="position: relative; top: -70px; left: 91%;">Time (minutes)</div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!--   <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.3-pre
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer> -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ base_url() }}/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI -->
<script src="{{ base_url() }}/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Bootstrap 4 -->
<script src="{{ base_url() }}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ base_url() }}/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ base_url() }}/dist/js/demo.js"></script>
<!-- FLOT CHARTS -->
<script src="{{ base_url() }}/plugins/flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="{{ base_url() }}/plugins/flot-old/jquery.flot.resize.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="{{ base_url() }}/plugins/flot-old/jquery.flot.pie.min.js"></script>
<!-- Page script -->
<script>
//$(function () {
    /*
     * Flot Interactive Chart
     * -----------------------
     */

var historic_heartrate = [[0,90],[10,120],[20,80],[50,100],[70,60],[100,120]];
var intervalID = setTimeout(heartrateinfo, 0);
var intervalID = setTimeout(line_graph, 0);

function heartrateinfo(){
    $.ajax({ 
          type:"GET",
          url:"/heartrate_info",
            success: function(data){
              console.log("SUCCESS: ", data);
              document.getElementById('avg').value = parseInt(data.avg)+" bpm";
              document.getElementById('max').value = data.max+" bpm";
              document.getElementById('min').value = data.min+" bpm";              
            },
            error: function(data){
             console.log('ERROR: ', data);
            },   
          });
}


function historic(){
    var start_time = $('#start_time').val();
    var end_time = $('#end_time').val();
    start_time = start_time.substring(0,10)+" "+start_time.substring(11,16)+":00";
    end_time = end_time.substring(0,10)+" "+end_time.substring(11,16)+":00";
    $.ajax({ 
          type:"GET",
          url:"/historic_heartrate/{start_time}/{end_time}",
          data: {"start_time":start_time,"end_time":end_time },
            success: function(data){
              console.log("SUCCESS: ", data);
              for(var i = 0;i<data.length;i++){
                  historic_heartrate[i] = [parseInt(data[i].timediff),parseInt(data[i].heart_rate)];
              }
              line_graph();
            },
            error: function(data){
             console.log('ERROR: ', data);
            },   
          });
}

function getRandomData(){
    var realtime_heartrate = [];
      $.ajax({ 
          type:"GET",
          url:"/realtime_heartrate",
          async : false,
            success: function(data){
              console.log("SUCCESS: ", data);
              for(var i = 0; i<60 ; ++i){
                  if(data[i]==null){ realtime_heartrate.push([i,100]); }
                  else{ realtime_heartrate.push([i,parseInt(data[i])]);}
              }
            },
            error: function(data){
             console.log('ERROR: ', data);
            },   
          });
       return realtime_heartrate;
 }

function realtime_graph(){
    var interactive_plot = $.plot('#interactive', [
        {
          data: getRandomData(),
        }
      ],
      {
        grid: {
          borderColor: '#f3f3f3',
          borderWidth: 1,
          tickColor: '#f3f3f3'
        },
        series: {
          color: '#3c8dbc',
          lines: {
            lineWidth: 2,
            show: true,
            fill: true,
          },
        },
        yaxis: {
          label: "Heart Rate(bpm)",
          min: 0,
          max: 100,
          show: true,
          ticks: [0,50,100,150,200]
        },
        xaxis: {
          show: true,
        }
      }
    )
}
    var updateInterval = 500 //Fetch data ever x milliseconds
    var realtime       = 'on' //If == to on then fetch data every x seconds. else stop fetching
    function update() {
      realtime_graph()
      if (realtime === 'on') {
        setTimeout(update, updateInterval)
      }
    }


    //INITIALIZE REALTIME DATA FETCHING
    if (realtime === 'on') {
      update()
    }
    //REALTIME TOGGLE
    $('#realtime .btn').click(function () {
      if ($(this).data('toggle') === 'on') {
        realtime = 'on'
      }
      else {
        realtime = 'off'
      }
      update()
    })

    /*
     * END INTERACTIVE CHART
     */     
    /*
     * LINE CHART
     * ----------
     */

function line_graph(){
    var line_data1 = {
      data : historic_heartrate,
      color: '#3c8dbc'
    }
    $.plot('#line-chart', [line_data1], {
      width : 500,
      height : 300,
      grid  : {
        hoverable  : true,
        borderColor: '#f3f3f3',
        borderWidth: 1,
        tickColor  : '#f3f3f3'
      },
      series: {
        shadowSize: 0,
        lines     : {
          show: true
        },
        points    : {
          show: true
        }
      },
      lines : {
        fill : false,
        color: ['#3c8dbc', '#f56954']
      },
      yaxis : {
        show: true,
        min: 0,
        max: 200,
        ticks: [0,50,100,150,200]
      },
      xaxis : {
        show: false,
      }
    })
    //Initialize tooltip on hover
    $('<div class="tooltip-inner" id="line-chart-tooltip"></div>').css({
      position: 'absolute',
      display : 'none',
      opacity : 0.5
    }).appendTo('body')
    $('#line-chart').bind('plothover', function (event, pos, item) {
      if (item) {
        var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2)
        // if(parseInt(x/3600)>23){
        //   $('#line-chart-tooltip').html( (parseInt(x/3600)-23) + 'day ' + parseInt(x/3600) + 'hours from Start Time => ' + parseInt(y) +'bpm')
       //  } 
        // else{   
          $('#line-chart-tooltip').html( parseInt(x/3600) + 'hours after Start Time => ' + parseInt(y) +'bpm')
       // }
          .css({
            top : item.pageY + 5,
            left: item.pageX + 5
          })
          .fadeIn(200)
      } else {
        $('#line-chart-tooltip').hide()
      }
    })
  }
  /* END LINE CHART */
    
 //})

  /*
   * Custom Label formatter
   * ----------------------
   */
  function labelFormatter(label, series) {
    return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
      + label
      + '<br>'
      + Math.round(series.percent) + '%</div>'
  }
</script>
</body>
</html>