<!DOCTYPE html>
<html>
<head>
  {% include('nav.twig') %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
 {% include('sidebar.twig') %}
      {% include('css_userinfo.twig') %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <br/><br/><br/>
            <h1 class="m-0 text-dark">Profile</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
     <form method="post" >
    <div class="container emp-profile">           
<!--                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <div class="file btn btn-lg btn-primary">
                                Change Photo 
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
-->                    <div class="col-md-6">
                        <div class="profile-head">
                          <br/>
                          <h2>{{username}} </h2>
                          <div class="row">
                                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="button" class="profile-edit-btn" name="changepasswd" data-toggle="modal" data-target="#exampleModalCenter"value="Change Password"/>
                                  <input type="button" class="profile-edit-btn" id="id_removal" value="ID Removal" onclick="remove()"></button>
                          </div>
                         <script>
                              function remove(){
                                alert("Are you SURE for REMOVAL?");
                                $.ajax({
                                  type:"GET",
                                  url:"/remove",
                                  success: function(data) {
                                      console.log("SUCCESS: ", data);
                                      if(data['status']=='success'){
                                        alert("Remove Success!");
                                        window.location = "http://192.168.33.99/signup";
                                      }
                                      else{
                                        alert("Remove Fail..!");
                                      }
                                  },
                                  error: function(data) {
                                      console.log('ERROR: ', data);
                                  },
                              });
                              event.preventDefault();
                            }
                          </script>
                                    <br/><br/>
                                    <!--<p class="proile-rating">RANKINGS : <span>8/10</span></p>-->
                                    <br/>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="polar-tab" data-toggle="tab" href="#polar" role="tab" aria-controls="home" aria-selected="false">Polar Sensor</a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" id="udoo-tab" data-toggle="tab" href="#udoo" role="tab" aria-controls="profile" aria-selected="false">Udoo Sensor</a>
                                </li>
                            </ul>
                        </div>
                    </div>
              
                <div class="row">
<!--                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">Website Link</a><br/>
                            <a href="">Bootsnipp Profile</a><br/>
                            <a href="">Bootply Profile</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <a href="">PHP, .Net</a><br/> 
                        </div>
-->                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Username</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{username}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Birth</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{birth}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone Number</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{phone_number}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{gender}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="polar" role="tabpanel" aria-labelledby="polar-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Heartrate Sensor</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>00098c006963</p>
                                            </div>
                                        </div>
                              </div>
                              <div class="tab-pane fade" id="udoo" role="tabpanel" aria-labelledby="udoo-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>CO</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>00098c006964</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>NO2</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>00098c006965</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>SO2</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>00098c006969</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>O3</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>00098c006908</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>pm2.5</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>00098c008392</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>pm10</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>00098c002847</p>
                                            </div>
                                        </div>
                          </div></div></div></form></div>
    <!-- Main content -->
    
            </div>  
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Changing Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form>
          <div class="form-group">
            <label for="message-name" class="col-form-label">Current Password:</label>
            <input type="password" class="form-control" id="current_pwd">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">New Password:</label>
             <input type="password" class="form-control" id="new_pwd">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Confirm Password:</label>
             <input type="password" class="form-control" id="confirm_pwd">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="confirmed_pwd()">SUBMIT</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function confirmed_pwd(){
      var new_pwd = $('#new_pwd').val();
      var confirm_pwd = $('#confirm_pwd').val();
      if(new_pwd==confirm_pwd){
        check_pwd();
      }
      else{
        alert("New Password and Confirm Password DO NOT MATCH");
      }
    }

 function check_pwd(){
    var current_pwd = $('#current_pwd').val();
    $.ajax({
       type:"POST",
        url:"/check_pwd/{current_pwd}",
        data: {"current_pwd":current_pwd }, 
          success: function(data){
              console.log("SUCCESS: ", data);
              if(data['status']==0){
                change_pwd();
              }
              else{
                alert("WRONG PASSWORD. Check your password again!");
              }
            },
            error: function(data){
             console.log('ERROR: ', data);
            },
    }); 
  }
 function change_pwd(){
    var new_pwd = $('#new_pwd').val();
      $.ajax({
          type:"POST",
          url:"/change_pwd/{new_pwd}",
          data: {"new_pwd":new_pwd},
            success: function(data){
              console.log("SUCCESS: ", data);
              alert("PASSWORD Changed");
              location.replace("./signup");
            },
            error: function(data){
             console.log('ERROR: ', data);
            },
          });
  }
</script>
</form>
  <!-- /.content-wrapper -->
  <!--<footer class="main-footer">
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.3-pre
    </div>
  </footer> -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ base_url() }}/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ base_url() }}/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{ base_url() }}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="{{ base_url() }}/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="{{ base_url() }}/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="{{ base_url() }}/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="{{ base_url() }}/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="{{ base_url() }}/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="{{ base_url() }}/plugins/moment/moment.min.js"></script>
<script src="{{ base_url() }}/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ base_url() }}/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.jplugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="{{ base_url() }}/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ base_url() }}/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ base_url() }}/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ base_url() }}/dist/js/demo.js"></script>

</body>
</html>






